{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>
<body>
    <aside>
        <img src="{% static 'main/img/logo_orel.png' %}" alt="Лого">
        <span class="logo">BIRD POST</span>
        <h3>Навигация</h3>
        <ul>
            <a href="{% url 'home' %}"><li><i class="fa-solid fa-house-chimney"></i> Главная</li></a>
            <a href="{% url 'about' %}"><li><i class="fa-solid fa-circle-info"></i> Про нас</li></a>
            <a href="{% url 'news_home' %}"><li><i class="fa-solid fa-bullhorn"></i> Новости</li></a>
            <a href="{% url 'create' %}"><li><button class="btn-info"><i class="fa-regular fa-square-plus"></i> Добавить запись</button></li></a>
            <a href=""><li><i class="fa-solid fa-envelope"></i> Контакты</li></a>
        </ul>
    </aside>
    <main>
        {% block content %}
        {% endblock %}

    </main>
</body>
</html>